* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Geneva, Verdana, sans-serif;
}

#app {
    border: 2px dashed red;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.todo_list {
    border: 2px dashed blue;
    padding: 1rem;
    text-align: center;
}

.red{
        color: red;
}

.title{
    font-weight: 600;
    padding: 1rem 0;
}

.stuff{
    line-height: 2rem;
}

.stuff span{
    padding: 0 10px;
}

.rosso{
    color: red;
}

.blu{
    color: blue;
}

.todo_icons{
    font-size: 20px;
    display: none;
    cursor: pointer;
}

.fa-check{
    color: green;
}
.fa-xmark{
    color: red;
}
.fa-spinner{
    color: orange;
}

.active{
    display: inline-block;
}

h2{
    padding: 1rem 0;
}

input{
margin: 1rem;
}

.inp_cont{
    /* border: 2px dashed green; */
    display: flex;
}

.radio_con{
    /* border: 2px dashed red; */
    display: flex;
    flex-direction: column;
    text-align: center;
}

button{
    padding: 1rem;
    cursor: pointer;
}